<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Braunker</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Inicio
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        routerLink="/profile">
          Perfil
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['write:messages'])"
        routerLink="/admin">
          Admin Area
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
